<form action="/travels/add" method="POST">
    <input type="text" name="city" placeholder="Ciudad destino">
    <input type="number" name="price" placeholder="Precio">
    <input type="number" name="discount" placeholder="Descuento">
    <input type="date" name="start" placeholder="Inicio del viaje">
    <input type="date" name="finish" placeholder="Fin del viaje">
    <input type="file" name="file" placeholder="Imagenes" multiple>
    <input type="submit" name="" placeholder="Enviar viaje">
</form>