{{#if error}}
    <p style="color:firebrick">Error: {{error}}</p>
{{/if}}
<form acton="/users/register" method="post">
    <input type="text" name="username" placeholder="Nombre de usuario">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Registrar</button>
</form>